.toggle_switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  color: blue;
  margin-right: 20px;
}

.toggle_switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.toggle_switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 14px;
}
.toggle_switch__slider::before {
  position: absolute;
  border: 2px solid rgb(143, 143, 143);
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}
input:checked + .toggle_switch__slider {
  background-color: #2196f3;
}

input:focus + .toggle_switch__slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .toggle_switch__slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
