.dropDownV2 {
  /* background: #001275; */
   height: 100%; 
  /* width: 100%; */
  display: flex;
  align-items: center;
  padding: 5px 16px;
  /* min-width: 4.5rem; */
  cursor: pointer;
  background-color: yellow;
  box-shadow: 0px 2px 4px rgba(174, 174, 174, 0.24);
  border-radius: 5px;
  /* overflow-y: hidden; */
}
.customClass {
  padding: 0.5rem;
  border-radius: 5px;
}
.dropDownV2--title {
  /* background-color: blueviolet; */
  width: 100%;
  color: rgb(85, 12, 12);
  margin-right: 0.7rem;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dropDownV2--icon {
  /* background-color: rgb(144, 238, 22); */
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  /* margin-top: -0.3rem; */
  cursor: pointer;
}
