.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 170px;
  box-sizing: border-box;
  padding: 8px 20px;
  background-color: #f8fafc;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  cursor: pointer;
  align-items: center;
  & > div > img {
    width: 3rem;
  }
  &:hover {
    background-color: #f1f5f9;
  }
}
@media (max-width: 870px) {
  .container {
    max-width: 312px;
    width: 100%;
    text-align: center;
    & h3{
      font-size: 16px;
    }
  }
}
@media (min-width: 871px) {
  .container {
    width: 322px;
  }
}
