.container_tool {
  //   background-color: aquamarine;
  position: relative;
  padding: 25px ;

}
.container__alert {
  position: absolute;
  width: 100%;
  //   background-color: aqua;
  display: flex;
  justify-content: center;
}
