.btn {
  padding: 12px 12px;
  border-radius: 0.2rem;
  background-color: #18B979 !important;
  font-size: 16px;
  color: white;
  font-weight: 500;
  width: 80%;
  border: none;
}
.form__group_link {
  text-decoration: none;
  font-weight: 400;
  color: #ecf8f9;
}
